<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.git.semi.member.vo.MemberVo" alias="member"/>
		<typeAlias type="com.git.semi.news.vo.NewsVo" alias="news"/>
		<typeAlias type="com.git.semi.news.vo.NewsLikeVo" alias="newsLike"/>
		<typeAlias type="com.git.semi.reply.vo.ReplyVo" alias="reply"/>
		<typeAlias type="com.git.semi.report.vo.ReportVo" alias="report"/>



	</typeAliases>
	
	<mappers>

		<mapper resource="config/mybatis/mapper/admin.xml" />
		<mapper resource="config/mybatis/mapper/category.xml" />
		<mapper resource="config/mybatis/mapper/member.xml" />
		<mapper resource="config/mybatis/mapper/news.xml" />
		<mapper resource="config/mybatis/mapper/news1.xml" />
		<mapper resource="config/mybatis/mapper/reply.xml" />
		<mapper resource="config/mybatis/mapper/report.xml" />
		<mapper resource="config/mybatis/mapper/s3attechment.xml" />


	</mappers>
	
</configuration>